/Spotifei/nbproject/private/
/Spotifei/build/
/Spotifei/dist/
/Spotifei/nbproject/private/
/Spotifei/*.class
/JavaApplication7/nbproject/private/
/JavaApplication7/build/
/JavaApplication8/nbproject/private/
/JavaApplication9/nbproject/private/
