# Ignora arquivos de build
/build/
/dist/

# Ignora pastas temporárias do NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# Ignora arquivos de log e temporários
*.log
*.tmp
*.bak
*.swp

# Ignora arquivos de sistema
.DS_Store
Thumbs.db

# Ignora arquivos de IDEs
*.iml
.idea/
.vscode/

# Ignora arquivos compilados Java
*.class
*.jar
*.war
*.ear
